<html>
<br>
<h3 align="center">About Me</h3>
<div class="row"  align="center">
  <div class="small-4 columns">
      <%= image_tag("IMG_0706.JPG", :class => "profile-pic") %>
  </div>
  <div class="small-8 columns">
     <h6> I'm a developer looking for opportunities in the Seattle area. Technologies I've used: Ruby, Rails, Sinatra, Postgres, JavaScript, jQuery and much more! I'm a graduate of the <a href="http://www.starterleague.com/", target ="_blank" >Starter League</a> bootcamp in Chicago and <a href="http://www.codefellows.org/", target="_blank">Code Fellows</a> Rails bootcamp here in Seattle. I'm also the National Meetup Coordinator for <a href="http://hackthepeople.org/", target="_blank">Hack the People</a>, an organization I'm very passionate about. Hack the People brings tech mentors and mentees together in small group settings giving people a chance to make real connections and develop relationships. </h6>
  </div>
  </div>
  <hr/>
  <h3 align="center">Blog</h3>
    <h6>I have a few blog ideas in the works and should be publishing my first one soon. Please be sure to check back! In the meantime, here is a link to the tumblr blog from when I was attending Starter League last year.</h6>
    <div align="center">
  <%= link_to image_tag("webicon-tumblr.png"), "http://tinamkumar.tumblr.com/", :target => "_blank" %>
</div>
  <hr/>
  <h3 align="center">Projects</h3>
  <div class="row" align="center">
  <div class="small-6 columns">
       <li><%= image_tag("coming_soon.png" , size: "300x300") %></li>
      <p>HireRanked</p>
      <p>Share your technical position interview experience with Seattle's top companies.</p>
  </div>
  <div class="small-6 columns">
     <li><%= image_tag("coming_soon.png", size: "300x300") %></li>
     <p>Coming Soon!</p>
  </div>
  </div>
  <hr/>

    <footer align="center">
        <h3>Contact Information:</h3>
        <%= link_to image_tag("webicon-github-m.png"), "https://github.com/tinakumar", :target => "_blank" %>
        <%= link_to image_tag("webicon-linkedin-m.png"), 'http://www.linkedin.com/in/tinakumar', :target => "_blank" %>
        <%= link_to image_tag("webicon-twitter-m.png"), "https://twitter.com/tinamkumar", :target => "_blank" %>
        <%= link_to image_tag("webicon-mail-m.png"), href="mailto:tinakumar07@gmail.com" %>
    </footer>

</html>

</div>
